<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table agents</title>
</head>

<body>
    <div id="app">
        <v-app id="inspire">
            <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
                <v-card>
                    <v-toolbar dark color="primary">
                        <v-btn icon dark @click="dialog = false">
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                        <v-toolbar-title>Просмотр</v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>
                    <v-list three-line subheader>
                        <v-img :src="dialog_img" class="white--text align-end"
                            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">

                        </v-img>
                </v-card>
            </v-dialog>

            <v-main class="grey lighten-3">
                <v-container>
                    <v-row>
                        <v-col cols="2">
                            <v-sheet rounded="lg">
                                <v-list color="transparent">
                                    <v-list-item v-for="n in storages" :key="n.id" link @click="openStorage(n.id)">
                                        <v-list-item-content>
                                            <v-list-item-title>
                                                Склад: {{ n.name_storage }}
                                            </v-list-item-title>
                                            <v-list-item-content class="text--secondary text-caption">
                                                Улица: {{ n.Address }}
                                            </v-list-item-content>
                                        </v-list-item-content>
                                    </v-list-item>
                                </v-list>
                            </v-sheet>
                        </v-col>

                        <v-col>
                            <v-sheet min-height="95vh" rounded="lg" style="padding: 1% 3%;">
                                <v-select :items="items" label="Выберите объект"></v-select>
                                <v-spacer></v-spacer>
                                <v-expansion-panels>
                                    <v-expansion-panel>
                                        <v-expansion-panel-header>
                                            27.01.1
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-card>
                                                <v-img src="https://cdn.vuetifyjs.com/images/cards/house.jpg"
                                                    class="white--text align-end"
                                                    gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)" height="400px">
                                                    <v-card-title v-text="'agent'"></v-card-title>
                                                </v-img>
                                                <!-- <v-card-title class="title">
                                                Агент
                                            </v-card-title> -->
                                            </v-card>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>
                            </v-sheet>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="/assets/script/script.js"></script>
</body>

</html>